<h1>Makes</h1>

<p>A list of available vehicle manufacturers</p>

<div class="pull-right">
<a class="btn btn-link" [routerLink]='["/create-make"]'>Create New Make</a>
</div>

<table class="table table-bordered table-hover table-striped table-responsive">
  <tr>
    <th>Id</th>
    <th>Make</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let make of makes">
    <td>{{make.id}}</td>
    <td>{{make.name}}</td>
    <td>
      <button class="btn btn-info">Edit</button>
      <button class="btn btn-danger">Delete</button>
    </td>
  </tr>
</table>
