<h1>Create Vehicle</h1>

<p>Create or update a vehicle</p>

<form [formGroup]='vehicleForm' (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label class="center-block">Make:
      <select class="form-control" formControlName="make">
        <option *ngFor="let make of makes" [value]="make.id">
          {{make.name}}
        </option>
      </select>
    </label>
    <label class="center-block">Model:
      <select class="form-control" formControlName="model">
        <option *ngFor="let model of models" [value]="model.id">
          {{model.name}}
        </option>
      </select>
    </label>
  </div>

  <div class="form-group">
    <label class="center-block">Is Registered?
      <input type="radio" name="isRegistered" [value]="true" formControlName="isRegistered" />Yes
      <input type="radio" name="isRegistered" [value]="false" formControlName="isRegistered" />No
    </label>
  </div>

  <div class="form-group">
    <label class="center-block">Features:</label>
    <div class="checkbox" *ngFor="let feature of features; let i=index">
      <label>
        <input type="checkbox" [value]="feature.id" (change)="onCheckChange($event)"> {{feature.name}}
      </label>
    </div>
  </div>

  <div class="form-group" formGroupName="contact">
    <label class="center-block">Contact Name:
      <input class="form-control" formControlName="name" />
    </label>
    <label class="center-block">Contact Phone:
      <input class="form-control" formControlName="phone" />
    </label>
    <label class="center-block">Contact Email:
      <input class="form-control" formControlName="email" />
    </label>
  </div>

  <div class="form-group">
    <button type="submit" [disabled]="!vehicleForm.valid" class="btn btn-primary">Submit</button>
  </div>
</form>
