<h1>Create Make</h1>
<p>
  Create a new make or edit an existing make
</p>
<form [formGroup]="makeForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label class="center-block">Name:
      <input class="form-control" formControlName="name">
    </label>
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="!makeForm.valid" class="btn btn-primary">Submit</button>
  </div>
</form>
